<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejoindre la team</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Lien vers le fichier CSS externe -->
    <link rel="stylesheet" href="products-list.component.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4" *ngFor="let product of filteredProducts">
                <div class="card">
                    <!-- Image du produit -->
                    <!-- <img [src]="#" class="card-img-top" alt="{{ product.name }}"> -->

                    <div class="card-body">
                        <!-- Nom du produit -->
                        <h5 class="card-title">{{ product.name }}</h5>
                        <!-- Description ou prix -->
                        <p class="card-text">{{ product.description }}</p>
                        <p><strong>{{ product.price | currency:'EUR' }}</strong></p>
                    </div>

                    <div class="card-footer">
                        <!-- Bouton Ajouter au panier -->
                        <!-- <button class="btn btn-primary" (click)="addToCart(product)">Ajouter au panier</button> -->
                        <button class="btn btn-primary">Ajouter au panier</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inclusion de Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gyb6S+zG2aTtF58lP6pujSmxTQQ4vJOrpQ9oO24eFwM96DVoQv6"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-pzjw8f+ua7Kw1TIq0pC2MKcA9xaCqfWg9v9l5o5Ljp6UsQ8mK7s0l+H2U3J8a/3j"
        crossorigin="anonymous"></script>
</body>

</html>