html,
body {
    height: 100%;
    /* Prend toute la hauteur de la fenêtre */
    margin: 0;
}

#app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Hauteur minimale de la page */
}

.content {
    flex: 1;
    /* Permet au contenu principal d'occuper tout l'espace disponible */
}

footer {
    background-color: #f8f9fa;
    /* Fond clair */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    /* Ombre en haut */
    padding: 1rem 0;
    text-align: center;
}